
.row{
    width: 1700px;
    
}
form{
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 4px 8px #999;
}
input, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 1em ;
    font: 1em sans-serif;
    border:1px solid rgb(212, 152, 202);
} 
label{
    font-weight: bold;
    padding-bottom: 5px;
    display: inline-block;
    margin-top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blueviolet;
} 
button{ 
    background-color: rgb(212, 152, 202);
    border: 1px solid blueviolet;
    color:white;
    font-weight: bold;
    padding: 15px;
    border-radius: 3px;

}
